# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
# pid-file	= /var/run/mysqld/mysqld.pid
# socket		= /var/run/mysqld/mysqld.sock
# datadir		= /var/lib/mysql
# symbolic-links=0

sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

# 任意自然数n，保证每台主机不重复即可
# server_id=1
# 开启二进制日志
# log-bin=mysql-bin